{% extends "wooey/base.html" %}
{% load i18n %}
{% load wooey_tags %}
{% block extra_js %}
    {{ js.super }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>
{% endblock extra_js %}
{% block extra_css %}
    {{ extra_css.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.css"/>
{% endblock extra_css %}
{% block extra_style %}
    {{ extra_style.super }}
    #wooey-task-submit {
      float: left;
      margin-left: 3px;
    }
{% endblock extra_style %}
{% block left_sidebar %}{% endblock left_sidebar %}
{% block center_content_class %}col-md-12 col-xs-12{% endblock center_content_class %}
{% block center_content %}


<div class="page-header">

    <!-- Nav tabs -->
    <div class="pull-right">
        <div class="btn-group">
        {% if task_info.archives %}

            <a href="{{ task_info.archives.0.url }}" role="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans "Download All" %}
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for archive in task_info.archives %}
                    <li><a href="{{ archive.url }}">{% if archive.url|endswith:"zip" %}{% trans "As Zip" %}{% else %}{% trans "As tar.gz" %}{% endif %}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
            <form action="{% url 'wooey:celery_task_command' %}" id="wooey-task-submit" method="post">
                {% csrf_token %}
                <input name="job-id" value="{{ task_info.job.pk }}" type="hidden">
                {% if not task_info.job.status|complete_job %}
                    <button class="btn btn-primary btn-danger" name="celery-command" value="stop" type="submit">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> {% trans "Stop" %}
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-warning" name="celery-command" value="rerun" type="submit">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> {% trans "Re-run" %}
                    </button>
                {% endif %}
                <button class="btn btn-primary" name="celery-command" value="clone" type="submit">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> {% trans "Clone" %}
                </button>
                <button class="btn btn-warning" name="celery-command" value="resubmit" type="submit">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> {% trans "Resubmit" %}
                </button>
                <button class="btn btn-danger" name="celery-command" value="delete" type="submit">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans "Delete" %}
                </button>

            </form>
        </div>
    </div>

  <h1>{{ task_info.job.job_name }} <small>{{ task_info.job.job_description }}</small></h1>


  <div class="task-metadata">
      Job <a href="{{ task_info.job.job_url }}">#{{ task_info.job.id }}</a>
      • Priority 1
      • Submitted {{ task_info.job.created_date|timesince }} ago by {{ task_info.job.user }}
      • Updated {{ task_info.last_modified|timesince }} ago



    {% if task_info.job.status == 'completed' %}
    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Success</span>
    {% elif task_info.job.status == 'running' %}
    <span class="label label-success"><span class="glyphicon glyphicon-refresh spinning"></span> Executing</span>
    {% elif task_info.job.status == 'pending' %}
    <span class="label label-default"><span class="glyphicon time"></span> Queued</span>
    {% elif task_info.job.status == 'revoked' %}
    <span class="label label-danger"><span class="glyphicon glyphicon-stop"></span> Halted</span>
    {% elif task_info.job.status == 'submitted' %}
    <span class="label label-default"><span class="glyphicon glyphicon-hourglass"></span> Waiting</span>
    {% endif %}

  </div>
</div>




{% if task_error %}
    <h1 class="text-center">{{ task_error }}</h1>
{% else %}
    {% include "wooey/modals/resubmit_modal.html" %}

    <div class="row">

        {% for output_group, output_files in task_info.file_groups.items %}
                {% if output_group == 'tabular' %}
                    {% for output_file_content in output_files %}
                      <!-- Default panel contents -->

                      <div class="panel-heading"><a href="{{ output_file_content.url }}">{{ output_file_content.name }}</a></div>

                      <!-- Table -->
                      <div class="panel-body table-responsive">
                          <table class="table">
                            {% for entry in output_file_content.preview %}
                                {% if forloop.first %}
                                    <thead>
                                        {% for item in entry %}
                                            <th>{{ item }}</th>
                                        {% endfor %}
                                    </thead>
                                    <tbody>
                                {% else %}
                                    <tr>
                                    {% for item in entry %}
                                        <td>{{ item }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if forloop.last %}
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                          </table>
                    </div>
                    {% endfor %}

                {% elif output_group == 'images' %}
                    {% if output_files %}

                      {% for output_file_content in output_files %}
                      <div class="col-sm-6 col-md-4">
                            <div class="thumbnail panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-picture"></span> {{ output_file_content.basename }}</div>
                                <div class="panel-body">
                                    <a href="{{ output_file_content.url }}" data-toggle="lightbox" data-gallery="task-images" data-type="image"><img src="{{ output_file_content.url }}" alt="{{ output_file_content.name }}" class="img-responsive"></a>
                                  </div>
                            </div>
                      </div>

                      {% endfor %}

                    {% endif %}
                {% elif output_group == 'fasta' %}
                     {% for output_file_content in output_files %}
                          <div class="panel-heading"><a href="{{ output_file_content.url }}">{{ output_file_content.name }}</a></div>
                          <div class="panel panel-body">
                                {% for entry in output_file_content.preview %}
                                    {{ entry }}<br>
                                {% endfor %}
                          </div>
                    {% endfor %}
                {% endif %}
        {% endfor %}


        <!-- Output command and stderr, stdout in console-style view -->
        <div class="col-sm-12 col-md-12">
          <div class="thumbnail panel panel-{% if task_info.job.stderr %}danger{% else %}default{% endif %}">
                <div class="panel-heading"><span class="glyphicon glyphicon-console"></span> {% trans "Console" %} <a data-toggle="collapse" data-target="#collapse-console" href="#collapse-console"></a></div>

                <div id="collapse-console" class="panel-collapse collapse in">
                <div class="panel-body console">
                  <pre class="console-body console-command">{{ task_info.job.command }}</pre>
                  {% if task_info.job.stdout %}
                  <pre class="console-body console-stdout">{{ task_info.job.stdout|linebreaks }}</pre>
                  {% endif  %}
                  {% if task_info.job.stderr %}
                  <pre class="console-body console-stderr">{{ task_info.job.stderr|linebreaks }}</pre>
                  {% endif %}

                </div>
                </div>
            </div>
        </div>


        <!-- List all files -->
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail panel panel-default">
                <div class="panel-heading"> <span class="glyphicon glyphicon-file"></span> {% trans "All Files" %} <a data-toggle="collapse" data-target="#collapse-files" href="#collapse-files"></a></div>

                <div id="collapse-files" class="panel-collapse collapse in">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        {% for file in task_info.all_files %}
                            <dt>{% if file.slug %}{{ file.slug }}{% endif %}</dt>
                            <dd><a href="{{ file.url }}">{{ file.name }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
                </div>
            </div>
        </div>


</div>

{% endif %}
{% endblock center_content %}

{% block inline_js %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $('#wooey-task-submit button').click(function(event){
            event.preventDefault();
            var $form = $(this).closest('form');
            var formData = $form.serializeArray();
            formData.push({'name': 'celery-command', 'value': $(this).attr('value')});
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function(data){
                    if (data.valid){
                        if(data.redirect){
                            window.location.replace(data.redirect);
                        }
                        else{
                            // the only way we end here is from a resubmission at the moment
                            $('#new-task-url').attr('href', data.extra.task_url);
                            $('#myModal').modal();
                        }
                    }
                    else{
                        clearErrors($form.parent());
                        processErrors($form.parent(), data.errors);
                    }
                }
            });
            return true;
        });

        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    });
</script>
{% endblock %}
