{% load i18n %}
{% load wooey_tags %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail panel {% if output_file_content.object.id in favorite_file_ids %}panel-warning is-favorite{% else %}panel-default{% endif %}" id="favorite-{{ output_file_content.object|app_model_id }}">
        <div class="panel-heading"><span class="glyphicon glyphicon-picture"></span> {{ output_file_content.basename }}

        <a class="icon icon-download" href="{{ output_file_content.url }}" download  title="{% trans "Download this output" %}"></a>
        <a class="icon icon-pushpin" data-favorite="{{ output_file_content.object|app_model_id }}" href="#" title="{% trans "Pin in scrapbook" %}"></a>
        </div>
        {% block preview_content %}{% endblock %}
    </div>
</div>
