
{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.username }}'s Jobs</h1>


<table width="100%">
    <thead>
    <tr>
        <th></th><th>Script name</th>
        <th></th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>

  {% for job in user.jobs %}
    <tr>
        <td>{{ job.id }}
            </td><td>
            <a href="{{ url_for('public.job', job_id=job.id) }}">
            {% if job.script.nicename %}{{ job.script.display_name }}{% else %}{{ job.script.name }}{% endif %}</a></td>
        <td>{{ job.script.description }}</td>
        <td>{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ job.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>

        {% if job.status == 'W' %}<span class="label info radius">Waiting</span>
        {% elif job.status == 'R' %}<span class="label info radius">Running</span>
        {% elif job.status == 'C' %}<span class="label success radius">Complete</span>
        {% elif job.status == 'X' %}<span class="label alert radius">Error</span>{% endif %}

        </td>
        </tr>
        {% endfor %}
</tbody></table>

{% endblock %}

