<div class="large-4 columns" style="min-height:100%;">

<ul class="tabs settings-panel-tabs" data-tab role="tablist">
    {% for section in ['required','optional'] %}
      <li class="tab-title {% if loop.first %}active{% endif %}" role="presentational" ><a href="#settings-{{section}}" role="tab" tabindex="0" aria-selected="{% if loop.first %}true{% else %}false{% endif %}" controls="settings-{{section}}">{{section}}</a></li>
    {% endfor %}
</ul>

<form method="post" enctype="multipart/form-data" action="{{ url_for('public.create_job', script_id=script.id) }}">
<div class="tabs-content settings-panel">


   {% for section in ['required','optional'] %}
    <section role="tabpanel" aria-hidden="false" class="content {% if loop.first %}active{% endif %}" id="settings-{{section}}">

    {% for w in metadata[section] %}
      <div class="row">
        <div class="large-12 columns">
            {% if w['widget'] == 'FileChooser' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <input type="file" name="{{ w['name'] }}" id="{{ w['name'] }}">
                </label>
            {% elif w['widget'] == 'CheckBox' %}
                <div class="row">
                    <div class="large-1 columns">
                        <input type="checkbox" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}">
                    </div>
                    <div class="large-11 columns">
                        <label for="{{ w['name'] }}">{{ w['help'] }}</label>
                    </div>
                </div>
            {% elif w['widget'] == 'TextField' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <input type="text" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}">
                </label>
            {% elif w['widget'] == 'RangeField' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <input type="range" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}">
                </label>
            {% elif w['widget'] == 'SelectOne' or w['widget'] == 'SelectMany' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <select type="text" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}" {% if w['widget'] == 'SelectMany' %}multiple{% endif %}>

                        {% if w['choices'] is mapping %}

                            {% for choice, label in w['choices'].items() %}
                                <option value="{{ choice }}">{{ label }}</option>
                            {% endfor %}

                        {% else %}

                            {% for choice in w['choices'] %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}

                        {% endif %}

                    </select>
                </label>
            {% else %}
            {% endif %}



            </div>
          </div>
        {% endfor %}

    </section>
   {% endfor%}
    </div>

<div class="row">
    <div class="large-12 columns"><div class="right">
        <input type="button" class="button alert radius" value="Cancel" onclick="window.history.back()">
        <input type="submit" class="button success radius" value="Run">
    </div></div>
</div>


    </form>
</div>