
{% extends "layout.html" %}

{% block content_class %}row full-width{% endblock content_class %}

{% block content %}
<div class="row header full-width">
    <div class="large-9 columns"><h1 class="no-margin-bottom">{% if script.nicename %}{{ script.display_name }}{% else %}{{ script.name }}{% endif %}</h1>
    <p>{{ script.description }}</p>
{% if job %}
    <p class="metadata">
    Job #{{ job.id }} submitted by {{ job.user.username }} on {{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }} @ Priority {{ job.priority }}
    {% if job.created_at != job.updated_at %}&bull; Updated {{ job.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}{% endif %}

    {% if job.status == 'W' %}<span class="label info radius"><i class="fa fa-clock-o"></i> Waiting</span>
    {% elif job.status == 'R' %}<span class="label info radius"><i class="fa fa-spinner fa-pulse"></i> Running</span>
    {% elif job.status == 'C' %}<span class="label success radius"><i class="fa fa-check"></i> Complete</span>
    {% elif job.status == 'X' %}<span class="label alert radius"><i class="fa fa-warning"></i> Error</span>{% endif %}
    </p>
{% endif %}
    </div>
    {% if job %}
        <div class="large-3 columns">
        {% if has_output %}
            <a href="{{ url_for('public.download_job_output', job_id=job.id, format='.zip') }}" class="button split right radius"><i class="fa fa-download"></i> Download <span data-dropdown="drop"></span></a>
            <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="{{ url_for('public.download_job_output', job_id=job.id, format='.zip') }}"><i class="fa fa-download"></i> .zip</a></li>
                <li><a href="{{ url_for('public.download_job_output', job_id=job.id, format='.tar.gz') }}"><i class="fa fa-download"></i> .tar.gz</a></li>
            </ul>
        {% else %}
            <span class="button right secondary disabled radius"><i class="fa fa-warning"></i> No download</span>
        {% endif %}
        </div>
    {% endif %}
</div>

<div class="row tab-overlay full-height-minus-header">
{% include "public/job-form.html" %}
    <div class="large-8 columns no-pad-edges full-height">

<ul class="tabs" data-tab role="tablist">
      <li class="tab-title {% if not job %}active{% endif %}" role="presentational"><a href="#help-about" role="tab" tabindex="0" controls="help-about"><i class="fa fa-question-circle"></i> About</a></li>
{% if job %}
      <li class="tab-title console-tab active" role="presentational" ><a href="#console" role="tab" tabindex="0" aria-selected="" controls="console"><i class="fa fa-terminal"></i> Console</a></li>
    {% for section, oo in display.items() %}
      <li class="tab-title" role="presentational" ><a href="#section-{{section}}" role="tab" tabindex="0" aria-selected="" controls="section-{{section}}">{{ section }} <span class="label round">{{ oo|length }} </span></a></li>
    {% endfor %}
{% endif %}
</ul>

    <div class="tabs-content full-height">

    <section role="tabpanel" aria-hidden="{% if job %}true{% endif %}" class="content {% if not job %}active{% endif %}" id="help-about">
        <div class="row">
            <div class="large-12 columns pad-edges">
                {% if documentation %}
                    {{ documentation|safe }}
                {% else %}
                    <p>There is no documentation for this script.</p>
                {% endif %}
            </div>
        </div>
    </section>

    {% if job %}

        <section role="tabpanel" aria-hidden="false" class="content console full-height active" id="console">
            <div class="row console full-height">
                <div class="large-12 columns console-body">{{ console }}</div>
            </div>
        </section>

        {% for section, oo in display.items() %}
        <section role="tabpanel" aria-hidden="true" class="content full-height" id="section-{{ section }}">
            {% for o in oo %}
                <div class="row output-metadata radius">
                    <p>{% if o.icon %}<i class="fa fa-{{ o.icon }}"></i> {% endif %}<strong>{{ o.name }}</strong><br />
                    <small>{% for m in o.metadata %} {{m}} {% if not loop.last %}&bull; {% endif %}{% endfor %}</small>
                    </p>

                    {{ o.src|safe }}
                 </div>
            {% endfor %}
        </section>
        {% endfor %}

    {% endif %}

    </div>

</div>
</div>
{% endblock %}

