
{% extends "layout.html" %}

{% block content_class %}row full-width full-height-minus-header{% endblock content_class %}

{% block subtitle %}/ <a href="{{ url_for('public.create_job', script_id=script.id) }}" class="subtitle">{{ script.name }} </a>{% endblock %}

{% block js %}
<script type=text/javascript>

$(document).ready(function () {
    status_check_interval = setInterval(
        function() {
          $.getJSON("{{ url_for('public.job_json', job_id=job.id) }}", {
          }, function(data) {
            $("#status").attr('class', 'status status-' + data.status);
              if (data.status == 'C' || data.status == 'E'){
                clearInterval(status_check_interval)
                }
          });
          return false;
        }
    , 5000);
});

</script>
{% endblock %}

{% block header %}
<div class="row header full-width">
    <div class="large-9 columns"><!--<h1 class="no-margin-bottom">{% if script.nicename %}{{ script.display_name }}{% else %}{{ script.name }}{% endif %}</h1> -->
    <p>{% if script.description %}{{ script.description }}{% else %}&nbsp;{% endif %}</p>
{% if job %}
    <p class="metadata">
    Current job <a href="{{ url_for('public.job', job_id=job.id) }}">#{{ job.id }}</a> submitted by <span class="primary">{{ job.user.username or 'Guest' }}</span> on {{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
    &bull; Priority <span class="primary">{{ job.priority }}</span>
    {% if job.created_at != job.updated_at %}&bull; Updated {{ job.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}{% endif %}

    <span id="status" class="status status-{{ job.status }}">
        <span class="status-waiting label info radius"><i class="fa fa-clock-o"></i> Waiting</span>
        <span class="status-running label info radius"><i class="fa fa-spinner fa-pulse"></i> Running</span>
        <span class="status-complete label success radius"><i class="fa fa-check"></i> Complete</span>
        <span class="status-error label alert radius"><i class="fa fa-warning"></i> Error</span>
    </span>

        <!--
        <span class="show-running">
            <span class="label success radius hide running"><i class="fa fa-warning"></i> Running</span>
            <span class="label alert radius hide alert"><i class="fa fa-warning"></i> Error</span>
        </span>
-->
    </p>
{% endif %}
    </div>
    {% if job %}
        <div class="large-3 columns">
        {% if has_output %}
            <a href="{{ url_for('public.download_job_output', job_id=job.id, format='.zip') }}" class="button small split right radius"><i class="fa fa-download"></i> Download <span data-dropdown="drop"></span></a>
            <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="{{ url_for('public.download_job_output', job_id=job.id, format='.zip') }}"><i class="fa fa-download"></i> .zip</a></li>
                <li><a href="{{ url_for('public.download_job_output', job_id=job.id, format='.tar.gz') }}"><i class="fa fa-download"></i> .tar.gz</a></li>
            </ul>
        {% else %}
            <span class="button small right secondary disabled radius"><i class="fa fa-warning"></i> No download</span>
        {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row tab-overlay full-height">
{% include "public/job-form.html" %}
    <div class="large-8 columns no-pad-edges full-height">

<ul class="tabs" data-tab role="tablist">
      <li class="tab-title {% if not job %}active{% endif %}" role="presentational"><a href="#help-about" role="tab" tabindex="0" controls="help-about"><i class="fa fa-question-circle"></i> About</a></li>
{% if job %}
      <li class="tab-title console-tab active" role="presentational" ><a href="#console" role="tab" tabindex="0" aria-selected="" controls="console"><i class="fa fa-terminal"></i> Console</a></li>
    {% for section, oo in display.items() %}
      <li class="tab-title" role="presentational" ><a href="#section-{{section}}" role="tab" tabindex="0" aria-selected="" controls="section-{{section}}">{{ section }} <span class="label round">{{ oo|length }} </span></a></li>
    {% endfor %}
{% endif %}
</ul>

    <div class="tabs-content full-height">

    <section role="tabpanel" aria-hidden="{% if job %}true{% endif %}" class="content {% if not job %}active{% endif %}" id="help-about">
        <div class="row">
            <div class="large-12 columns pad-edges help-about">
                {% if documentation %}
                    {{ documentation|safe }}
                {% else %}
                    <p>There is no documentation for this script.</p>
                {% endif %}
            </div>
        </div>
    </section>

    {% if job %}

        <section role="tabpanel" aria-hidden="false" class="content console full-height active" id="console">
            <div class="row console full-height">
                <div class="large-12 columns console-body">{{ console }}</div>
            </div>
        </section>

        {% for section, oo in display.items() %}
        <section role="tabpanel" aria-hidden="true" class="content full-height" id="section-{{ section }}">
            {% for o in oo %}
                <div class="row output-metadata radius">
                    <p>{% if o.icon %}<i class="fa fa-{{ o.icon }}"></i> {% endif %}<strong>{{ o.name }}</strong><br />
                    <small>{% for m in o.metadata %} {{m}} {% if not loop.last %}&bull; {% endif %}{% endfor %}</small>
                    </p>

                    {{ o.src|safe }}
                 </div>
            {% endfor %}
        </section>
        {% endfor %}

    {% endif %}

    </div>

</div>
</div>
{% endblock %}

