{% extends "wooey/base.html" %}
{% load i18n %}
{% load wooey_tags %}

{% block extra_style %}

{% endblock extra_style %}

{% block outer_content %}
<div class="jumbotron frontpage">
  <h1 class="wooey">Wooey!</h1>
  <p>A web UI for Python scripts</p>
</div>
{% endblock %}

{% block left_sidebar %}{% endblock left_sidebar %}
{% block center_content_class %}col-md-12 col-xs-12{% endblock center_content_class %}

{% block center_content %}


<div class="row">




    {% for script in scripts %}
    <div class="col-sm-6 col-md-4">

        {% with group_show=script.script_group|valid_user:request.user %}
            {% if group_show != 'hide' %}

            <div class="panel panel-default thumbnail wooey_script_thumbnail {% if not script.is_active %}wooey_script_disabled {% endif %}">
            <div class="panel-heading">
            {% if script_show == 'disabled' or group_show == 'disabled' %}disabled{% endif %}

                {% if script.is_active %}
                    <a href="{% url 'wooey:wooey_script' slug=script.slug %}">{{ script.script_name }}</a>
                {% else %}
                    {{ script.script_name }}
                {% endif %}

                <a class="icon icon-locked" href="#"></a>
                <a class="icon icon-favorite" href="#"></a>
            </div>
            <div class="panel-body">{{ script.script_description }}</div>
            <div class="wooey-script-group">{{ script.script_group.group_name }}</div>

            </div>
            {% endif %}
        {% endwith %}
  </div>
  {% endfor %}

</div>



{% endblock center_content %}

{% block right_sidebar_content %}
<div class="panel panel-default tabpanel">
    <ul class="nav nav-tabs">
        {% if request.user.is_authenticated %}
            <li class="active"><a href="#user-jobs" data-toggle="pill">{% trans "Your Jobs" %}</a></li>
        {% endif %}
        <li{% if not request.user.is_authenticated %} class="active"{% endif %}><a href="#all-jobs" data-toggle="pill">{% trans "All Jobs" %}</a></li>
        <li class="no-hover">
            <a href="#" id="celery-refresh">
                <span class="glyphicon glyphicon-refresh"></span>
                <button class="btn btn-xs btn-link active" id="auto-refresh"> {% trans "Auto" %}</button>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        {% if request.user.is_authenticated %}
            <div role="tabpanel" id="user-jobs" class="panel panel-body tab-pane active table-responsive">
                <table id="wooey-job-table-user" class="table-responsive table hover stripe" width="100%">
                <thead>
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Submitted" %}</th>
                </thead>
                <tbody>

                </tbody>

                </table>
              </div>
        {% endif %}

      <div role="tabpanel" id="all-jobs" class="panel panel-body tab-pane {% if not request.user.is_authenticated %}active{% endif %} table-responsive">
        <table id="wooey-job-table-anon" class="table-responsive table hover stripe" width="100%">
        <thead>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Submitted" %}</th>
        </thead>
        <tbody>

        </tbody>

        </table>
      </div>
    </div>
</div>
{% endblock right_sidebar_content %}

{% block inline_js %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
        var filesUploaded = {};

        var multi_selector = 'a[href=#wooey-multi-input]';
        var wooey_remove_selector = 'a[href=#wooey-multi-input-remove]';
        var all_multi_selectors = 'a[href=#wooey-multi-input], a[href=#wooey-multi-input-remove]';
        var input_selector = 'input, select';
        var wooey_multiple_selector = '[data-wooey-multiple]';
        var wooey_choice_limit = 'wooey-choice-limit';

        var maxChoices = function($element){
            $element.popover({
                content: "{% trans "No more choices may be added for this selection" %}",
                trigger: 'manual'
            }).popover('show');
            setTimeout(function(){$element.popover('destroy')}, 1000);
        };

        var initializeWooeyScript = function(){
            // Add the - button so users can remove elements from cloned jobs
            $(wooey_multiple_selector).parent().each(
                function(element, value){
                    var $wooey_multiples = $(value).find(wooey_multiple_selector);
                    if($wooey_multiples.length != 1) {
                        for (var i = 0; i < $wooey_multiples.length; i++) {
                            var $remove_button = removeMultiInput();
                            $remove_button.appendTo($wooey_multiples[i]);
                        }
                    }
                }
            );

            var $multi_selector = $(multi_selector);
            $multi_selector.click(function(event){
                event.preventDefault();
                var $this = $(this);

                var $containers = $this.siblings(wooey_multiple_selector);
                // check the choice limit, are we at it?
                var choice_limit = $this.data(wooey_choice_limit);
                if(choice_limit && ($containers.length == choice_limit)){
                    // give a notice
                    maxChoices($this);
                    return;
                }

                var $container = $containers.first();
                // if the container doesn't have a remove button since it's the first one, add one
                if($container.find(wooey_remove_selector).length == 0){
                    removeMultiInput().appendTo($container);
                }
                var $new_target = $container.clone();
                $new_target.insertAfter($container);
                // remove any existing removal buttons from the container
                $new_target.find(all_multi_selectors).remove();
                // add a way to remove the new container
                var $remove_button = removeMultiInput();
                $remove_button.appendTo($new_target);
            });

            // setup the choice limits for select fields
            $('select[data-wooey-choice-limit] option').click(function(event){
                var $this = $(this);
                var $select = $this.parent();
                var choice_limit = $select.data(wooey_choice_limit);
                var selected = $select.find(':selected').length;
                if(choice_limit && (selected > choice_limit)){
                    $this.prop("selected", false);
                    maxChoices($select);
                    return;
                }
            })
        };


        var removeMultiInput = function(){
            var $remove_input = $('<a href="#wooey-multi-input-remove"><span class="glyphicon glyphicon-minus"></span></a>');
            $remove_input.click(function(event){
                event.preventDefault();
                var $multi_input = $(this).parent(wooey_multiple_selector);

                // all other containers with multi-selections for this parameter
                var $others = $multi_input.siblings(wooey_multiple_selector);
                // remove us
                $multi_input.remove();
                // if there is only 1 container left, remove the button to remove it
                if($others.length == 1){
                    $others.find(wooey_remove_selector).remove();
                }
            });
            return $remove_input;
        };

        var loadWooeyScript = function(url, params, form){
            $.get(url, params, function(data){
                form.attr('action', data.action);
                var $wooey_tabs = form.find('#wooey-script-tabs');
                var $wooey_content = form.find('#wooey-script-content');
                for(var i=0;i<data.groups.length;i++){
                    $wooey_tabs.append('<li class="wooey-dynamic-tabs" role="presentation"><a href="#wooey_dynamic_tab'+i+'" aria-controls="profile" role="tab" data-toggle="tab">'+data.groups[i].group_name+'</a></li>');
                    var new_panel = $('<div role="tabpanel" class="tab-pane wooey-dynamic-tabs" id="wooey_dynamic_tab'+i+'"></div>');
                    new_panel.html(data.groups[i].form);
                    $wooey_content.append(new_panel);
                }
                var $first = $('a[href="#wooey_dynamic_tab0"]');
                if($first.length)
                    $first.trigger('click');
                initializeWooeyScript();
            }, "json");
        };

        var updateScriptInfo = function(url){
            // set the details of what script we clicked
            $('.wooey-dynamic-tabs').remove();
            var $scriptBox = $("a[data-href='"+url+"']");
            var title = $scriptBox.find('.wooey-script-title').text();
            var desc = $scriptBox.find('.wooey-script-description').text();
            $('#wooey-script-description').text(desc);
            var $title = $('#wooey-script-title');
            $title.text(title);
            var currentTop = $(document).scrollTop();
            var scriptTop = $title.closest('.center-div').offset().top;
            if (currentTop > scriptTop)
                window.scrollTo(0, scriptTop);
        };

        $('.wooey-script-url').click(function(event){
            event.preventDefault();
            if($(this).hasClass('disabled'))
                return;
            filesUploaded = {};
            var $jobform = $('#wooey-job-form');
            clearErrors($jobform);
            updateScriptInfo($(this).data('href'));
            loadWooeyScript($(this).data('href'), {}, $jobform);
        });

        {% if clone_job %}
            // Track file changes
            $("input:file").change(function (){
               var fileName = $(this).val();
               filesUploaded[$(this).attr('name')] = fileName;
             });
            var $jobform = $('#wooey-job-form');
            updateScriptInfo('{{ clone_job.data_url }}');
            loadWooeyScript('{{ clone_job.url }}', {job_id: '{{ clone_job.job_id }}'}, $jobform);
            $jobform.find('#wooey_clone_task_id').val("{{ clone_job.job_id }}");
        {% endif %}





        $('#wooey-form-submit').click(function(event){
            event.preventDefault();
            var $form = $(this).closest('form');
            // if we are cloning a job, we need to specify the fields as the files because the file type input
            // will be blank
            var formData = new FormData($form[0]);
            $('input[type="file"]').each(function(index, value){
                if(filesUploaded[$(this).attr('name')] === undefined){
                    // the user has not selected a file to replace this one
                    formData.append($(this).attr('name'), $(this).siblings('a').text());
                }
            });
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    clearErrors($form);
                    if(data.valid){
                        // clear form
                        $form[0].reset();
                        celeryRefresh();
                    }
                    else{
                        processErrors($form, data.errors)
                    }
                }
            });
        });

        // TODO: Make this nice
        var $jobtable = $('#wooey-job-table-anon');
        var $jobtable_user = $('#wooey-job-table-user');
        var wooey_dt = $jobtable.dataTable({
            "columnDefs": [
                { "visible": false,  "targets": [ 0 ] },
            ],
            "order": [[ 3, "desc" ]]
        });
        var wooey_dt_user = $jobtable_user.dataTable({
            "columnDefs": [
                { "visible": false,  "targets": [ 0 ] },
            ],
            "order": [[ 3, "desc" ]]
        });
        $('#wooey-job-table-anon,#wooey-job-table-user').on( 'draw.dt', function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                container: 'body',
                placement: 'auto left',
            });
        });
        $('#wooey-job-table-anon_wrapper,#wooey-job-table-user_wrapper').addClass('col-md-12');


        var job_tables = {
            anon: {
                table: $jobtable,
                dt: wooey_dt,
                dt_api: wooey_dt.api(),
                jobs: {}
            },
            user: {
                table: $jobtable_user,
                dt: wooey_dt_user,
                dt_api: wooey_dt_user.api(),
                jobs: {}
            }
        };

        var task_reloaded = false;

        $('#celery-refresh').click(function(event){
            celeryRefresh();
        });
        var tid, cid;
        var $refreshBadge = $('<span id="refresh-badge" class="badge">9</span>');
        $('#auto-refresh').click(function(event){
            var btn = $(this);
            if(btn.hasClass('btn-link')) {
                $.cookie('auto-refresh', true, { expires: 365, path: '/' });
                tid = setTimeout(celeryRefresh, 10000);
                cid = setTimeout(updateRefreshBadge, 1000);
                $refreshBadge.appendTo(btn);
            }
            else {
                $.cookie('auto-refresh', false, { expires: 365, path: '/' });
                clearTimeout(tid);
                clearTimeout(cid);
                $refreshBadge.remove();
                $refreshBadge.text(9);
            }
            btn.toggleClass('btn-link');
        });
        var autoRefresh = $.cookie()['auto-refresh'] === 'true';
        if(autoRefresh) {
            $('#auto-refresh').trigger('click');
        }
        else{

        }

        function updateRefreshBadge(){
            var val = parseInt($refreshBadge.text())-1;
            if(val == -1){
                celeryRefresh();
                val=9;
            }
            $refreshBadge.text(val);
            cid = setTimeout(updateRefreshBadge, 1000);
        }

    });
</script>
{% endblock inline_js %}
