<div class="large-4 columns no-pad-edges full-height">

<ul class="tabs settings-panel-tabs" data-tab role="tablist">
    {% for section in ['required','optional'] %}
      <li class="tab-title {% if loop.first %}active{% endif %}" role="presentational" ><a href="#settings-{{section}}" role="tab" tabindex="0" aria-selected="{% if loop.first %}true{% else %}false{% endif %}" controls="settings-{{section}}">{{section}}</a></li>
    {% endfor %}
</ul>

<form method="post" enctype="multipart/form-data" action="{{ url_for('public.create_job', script_id=script.id) }}" class="full-height">
<div class="tabs-content settings-panel full-height">

   {% for section in ['required','optional'] %}
    <section role="tabpanel" aria-hidden="false" class="content {% if loop.first %}active{% endif %}" id="settings-{{section}}">

    {% for w in metadata[section] %}
      <div class="row">
        <div class="large-12 columns">
            {% if w['widget'] == 'FileChooser' %}
                <label for="{{ w['name'] }}">{{ w['help'] }} {% if w['required'] %}<small>required</small>{% endif %}
                    <input type="file" name="{{ w['name'] }}" id="{{ w['name'] }}" {% if w['required'] %}required{% endif %}>
                </label>
            {% elif w['widget'] == 'CheckBox' %}
                <div class="row">
                    <div class="large-1 columns">
                        <input type="checkbox" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}">
                    </div>
                    <div class="large-11 columns">
                        <label for="{{ w['name'] }}">{{ w['help'] }}</label>
                    </div>
                </div>
            {% elif w['widget'] == 'TextField' %}
                <label for="{{ w['name'] }}">{{ w['help'] }} {% if w['required'] %}<small>required</small>{% endif %}
                    <input type="text" {% if not w['required'] %}placeholder="{{ w['default'] }}"{% endif %} id="{{ w['name'] }}" name="{{ w['name'] }}" {% if w['required'] %}required{% endif %}>
                </label>
            {% elif w['widget'] == 'RangeField' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <input onchange="this.form.{{ w['name'] }}_output.value=this.value" type="range" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}" min="{{ w['choices'][0] }}" max="{{ w['choices'][1] }}" step="{{ w['choices'][2] }}">
                    <output name="{{ w['name'] }}_output" for="{{ w['name'] }}">0</output>
                </label>
            {% elif w['widget'] == 'SelectOne' or w['widget'] == 'SelectMany' %}
                <label for="{{ w['name'] }}">{{ w['help'] }}
                    <select type="text" placeholder="{{ w['default'] }}" id="{{ w['name'] }}" name="{{ w['name'] }}" {% if w['widget'] == 'SelectMany' %}multiple{% endif %}>

                        {% if w['choices'] is mapping %}

                            {% for choice, label in w['choices'].items() %}
                                <option value="{{ choice }}" {% if choice == w['default'] %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}

                        {% else %}

                            {% for choice in w['choices'] %}
                                <option value="{{ choice }}" {% if choice == w['default'] %}selected{% endif %}>{{ choice }}</option>
                            {% endfor %}

                        {% endif %}

                    </select>
                </label>
            {% else %}
            {% endif %}



            </div>
          </div>
        {% endfor %}

    </section>
   {% endfor%}

<div class="row settings-buttons">
    <div class="large-12 columns"><div class="right">
        <input type="button" class="button small alert radius" value="Cancel" onclick="window.history.back()">
        <input type="submit" class="button small success radius" value="Run">
    </div></div>
</div>

    </div>



    </form>
</div>