<section role="tabpanel" aria-hidden="true" class="content full-height content-section" id="section-{{ section }}">
    {% for o in oo %}
        <div class="row output-metadata radius">
            <p>{% if o.icon %}<i class="fa fa-{{ o.icon }}"></i> {% endif %}<strong>{{ o.name }}</strong><br />
            <small>{% for m in o.metadata %} {{m}} {% if not loop.last %}&bull; {% endif %}{% endfor %}</small>
            </p>

            {{ o.src|safe }}
         </div>
    {% endfor %}
</section>

