
{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
    <h1>About</h1>

<p>Wooey is a simple web interface (built on Flask) to run command line Python scripts. Think of it as an easy way to get
your scripts up on the web for routine data analysis, file processing, or anything else.</p>

<p>Impressed by what <a href="https://github.com/chriskiehl/Gooey">Gooey</a> did, turning ArgumentParser-based command-line scripts
into WxWidgets-based GUIs, I thought I'd see if I could do the same for the web.

<p>Wooey (see what I did there?) is built on the same, but slightly modified, back-end conversion of ArgumentParser
instances to JSON definitions. These definitions are used to construct a web-based UI with type-dependent widgets.
Submitted configurations are parsed, using the JSON definition, to command line arguments that are then submitted to a job queue.</p>

<p>Jobs in the queue are automatically run and the results made available in the job view, with smart handling of outputs
such as images (CSV, etc. to be supported via pandas, possibly some kind of plugin system) into a tabbed output viewer.
Support for downloading of zipped output files is to follow.</p>

<p>Use it as a simple platform to allow running of routine data-processing and analysis scripts
within a research group, to simplify server tasks, or anything else. It's somewhat comparable to things
like Shiny for R, except multi-user out of the box. Support for multiple command-line formats is on my todo.</p>

<p>The interface is built on Foundation from Zurb, giving a responsive interface that works great on mobile devices.</p>

<p>For more information, to report issues and to contribute to development <a href="https://github.com/mfitzp/Wooey">you can find Wooey on Github</a>.</p>

    </div>
</div>
{% endblock %}

