
{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
    <h1>About</h1>
    <p>Woeey is a web interface for command-line scripts. Built to target Python scripts using argparse (based on <a href="https://github.com/chriskiehl/Gooey">Gooey</a>
        GUI construction from ArgumentParser instances) it will eventually run other style command lines, customisable through
        a per-script JSON configuration.</p>

    <p>Auto-creation of JSON descriptions for Python scripts is based on the excellent <a href="https://github.com/chriskiehl/Gooey">Gooey</a> tool.</p>

    </div>
</div>
{% endblock %}

