<dl class="sub-nav script-list"> <dt>Filter:</dt>
    <dd class="active"><a href="#">All</a></dd>
    <dd><a href="#">Active</a></dd>
    <dd class="hide-for-small-only"><a href="#">Disabled</a></dd> </dl>

<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
  {% for script in scripts %}
    <li class="{% if not script.is_active or not script.is_authorised %} inactive{% endif %}"><div class="script radius">
        <div class="script-icons">
            {% if not script.is_active %}<i class="fa fa-ban" title="This script is currently disabled."></i>{% endif %}
            {% if not script.is_authorised %}<i class="fa fa-lock" title="This script requires you to log in."></i>{% endif %}
        </div>

        <h5>
            {% if script.is_active and script.is_authorised %}<a href="{{ url_for('public.create_job', script_id=script.id) }}">{% endif %}
            {% if script.nicename %}{{ script.display_name }}{% else %}{{ script.name }}{% endif %}
            {% if script.is_active and script.is_authorised %}</a>{% endif %}</h5>

        <p>{{ script.description }}</p>

    </div></li>
{% endfor %}
</ul>