celery>=4.0,<5
clinto>=0.3.0
Django>=3,<4
django-autoslug
django-celery-results
django-storages
importlib-metadata<5.0
jsonfield<3
six
boto3
coverage
factory-boy<3.0.0
mock
pytest
pytest-cov
sphinx
sphinx-rtd-theme
tox
watchdog[watchmedo]
