/* =============================================================================
   App specific CSS file.
   ========================================================================== */

.row.full-width { max-width: 100%; }

.row.full-width .row { margin:0; }

.form-with-annotation {
  margin-bottom: 0px !important;
}


.form-annotation small {
  color: #bbb;

}

footer {
}

body {
  height: auto !important;
}

.tab-title > a {
    padding: 6px 12px !important;
    font-size:0.75rem;
    height: 2rem;
}

.tabs {
    background:url('../img/tab-shade.png');
}

.tabs .tab-title > a {

}

.tabs .tab-title.active > a {
}

.tabs .tab-title a {
    font-size: 0.8rem;
    border:solid #ccc;
    border-width:1px 1px 0 0;
}

.tabs .tab-title.console-tab.active  a {
    background-color: #222 !important;
    color: #0f0;
    border:solid #222;
    border-width:1px 1px 0 0;
}

.settings-panel {
    background-color: #f5f5f5 !important;
    padding: 0.8em;
    margin-bottom: 0;
}

.settings-panel-tabs .tab-title > a {
    background-color: #ddd !important;
}

.settings-panel-tabs .tab-title.active > a {
    background-color: #f5f5f5 !important;
}

.settings-buttons {
    background-color: #f5f5f5 !important;

}

.console {
    overflow:scroll;
    background-color: #222;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
}

.console .console-body {
    padding:1em;
    white-space: pre;
    font-size: 0.9rem;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

a.title { padding-right:0.25em !important;}
a.subtitle { padding-left:0.25em !important;}

h1.title, h1.title a {
    font-weight:bold !important;
    display:inline !important;}

h1.title { color: #888; }

.tab-overlay {
    position:relative;
    top:-2rem;
    margin-bottom:-2rem !important;
}

.row .header {
    padding-top: 0.75em;
    min-height: 125px;
    background-color: #333;
    margin-bottom:0;
    background-image:url('../img/stripe.png');
}

.row .header h1 {
    margin-top:0 ;
    line-height: 1em;
    color: #fff;
}

.row .header .button {
    margin-top:0.5em;
}

.row .header p {
    color:#ddd;
    margin:0 0 0.25em 0;
 }

 .row .header .metadata {
    margin-top: 0px;
    font-size:0.7em;
    color:#ccc;

 }

.row.script-body {
}


.pad-edges {
    padding-left:2rem;
    padding-right:2rem;
}

.no-pad-edges {
    padding-left: 0;
    padding-right: 0;
    margin-left:0;
    margin-right:0;
}



.row.output-metadata {
    font-size:0.8rem;
    margin: 1rem !important;
    padding:0;
    background-color: #f5f5f5;

}

.row.output-metadata p {
    padding:0.5rem;
    margin-bottom:0 ;
}

label output {
    vertical-align: 30%;
}


.full-height {
    height: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
}

.full-height-minus-top-bar {
    height: calc(100% - 45px);
    margin-top: 0;
    margin-bottom: 0;
}

.full-height-minus-header {
    height: calc(100% - 125px);
    margin-top: 0;
    margin-bottom: 0;
}


html, body {
    height:100vh !important;
}

.primary {
    color: #008CBA;
}